<config>
    <preset name="Bass" mode="s">
        <source id="1" font="1" bank="0" preset="40"/>
        <key id="0">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="1">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="2">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="3">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="4">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="5">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="6">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="7">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="8">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="9">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="10">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="11">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        
    </preset>
    <preset name="Bass" mode="s">
        <source id="1" font="1" bank="0" preset="42"/>
        <key id="0">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="1">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="2">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="3">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="4">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="5">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="6">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="7">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="8">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="9">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="10">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        <key id="11">
            <midi source="1">36</midi>
            <midi source="1">40</midi>
        </key>
        
    </preset>
    <preset name="Bass" mode="s">
        <source id="1" font="1" bank="0" preset="40"/>
        <keys source="1" tone="0" octave="4" num_keys="12" mode="-8 1 3 5"/>
    </preset>
</config>
